/* Variables */

:root {
  --basic-text: #333333;
  --basic-row: #CACACA;
  --basic-active-button: rgba(255, 255, 255, 0.3);
  --basic-activ-text: rgba(0, 0, 0, 0.3);
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-extra-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-blue: #81B3D2;
  --basic-extra-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-grey: #EBEBEB;
  --basic-extra-white: #F2F2F2;
  --basic-white: #FFFFFF;
  --basic-footer: background: rgba(255, 255, 255, 0.9);
}
 /* Global */

 body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: var(--basic-text);
  background-color: var(--basic-extra-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-body .container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;

  margin: 0 auto;
  background-color: var(--basic-extra-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* grid */

.page {
  height: 100%;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

/* main-navigation */

 .main-navigation {
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;

}

 .main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 6%;
  margin-right: 6%;
 }

.site-navigation li {
  margin:0;
  padding: 0;
  width: 229px;
  flex-shrink: 0;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
  margin-right: 0;
  margin-left: auto;
}

.site-navigation li:nth-child(3) {
  padding-left: 147px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-activ-text);
}

.site-navigation-current a {
  color: var(--basic-brown);
}
/*features*/

.main-features-logo {
  display: block;
  background-color: var(--basic-blue);
  background-image: url("../img/intro-mask.svg"), url("../img/background1.jpg");
  background-position: 0 100.5%, center center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  width: 100%;
  min-height: 509px;
}

 .main-features-logo img {
  position: relative;
  top: 77px;
 }

.features-list,
.features-comments {
  list-style: none;
}

.features-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 54px;
}

.feature-item-big {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
}

.feature-item-blue {
  width: 400px;
}

.features-item h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-top: 43px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: center;
  width: 120px;
}

.feature-item-blue h3 {
  width: 160px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.feature-item-blue p{
  width: 301px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  text-align: center;
}

.feature-item .feature-img{
  width: 800px;
}

.main-features,
.features {
  text-align: center;
}

.main-features h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  width: 470px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 41px;
}

.features h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 51px;
}

.features-item p {
  font-style: normal;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  text-align: center;
}

.features-item-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
  width: 265px;
  text-align: center;
}

.feature-item-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.feature-img img {
  display: block;
}

.features-list li {
  padding: 0;
}

.features-comments {
  padding: 0;
  margin: 0;
  display: flex;
}

.features-comments li{
  width: 400px;

}

.features-comments h3 {
 margin-top: 160px;
 margin-bottom: 25px;
 padding: 0;
}

.features-comments p{
  margin: 0 auto;
  margin-bottom: 82px;
  width: 290px;
}

.house h3::before {
  background-image: url("../img/icon-1.svg");
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: 973px;
  left: 194px;
  height: 72px;
  width: 75px;
  display: block;
}

.food h3::before {
  background-image: url("../img/icon-3.svg");
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: 974px;
  left: 595px;
  height: 72px;
  width: 75px;
  display: block;
}

.gift h3::before {
  background-image: url("../img/icon-2.svg");
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: 969px;
  left: 1000px;
  height: 80px;
  width: 65px;
  display: block;
}

/* chekin-form */

.checkin-form h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-black);
}

.checkin-form {
  text-align: center;
}

.checkin-form-text {
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
}

.checkin-form-text input {
  font-weight: bold;
  line-height: 26px;
  padding: 0 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 2px solid var(--basic-extra-white);
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-extra-white);
  outline: none;
}

.checkin-form-text input:hover {
  background-color: var(--basic-grey);
  border-color: var(--basic-grey);
}

.checkin-form-text input:focus {
  background-color: var(--basic-white);
  border-color: #E5E5E5;
}

/* buttons */

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  }

.small-button {
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

}

.button-brown {
  background-color: var(--basic-brown);
  border: inherit;
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--basic-extra-brown);
  border: inherit;
}

.button-brown:active {
  background-color: var(--basic-dark-brown);
  color: var(--basic-active-button);
  border: inherit;
}

.button-blue {
  background-color: var(--basic-blue);
  border: inherit;
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--basic-extra-blue);
  border: inherit;
}

.button-blue:active {
  background-color: var(--basic-dark-blue);
  color: var(--basic-active-button);
  border: inherit;
}

.button.button-blue {
  width: 458px;
  height: 58px;
}

.button.button-brown {
  width: 568px;
  height: 86px;
}

.small-button.button-brown {
  padding: 3px 17px;
}

.small-button.button-blue {
  padding: 3px 17px;
}

/* HOTELS.HTML */

.hotel-name {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.hotels p {
  font-style: normal;
  font-weight: normal;
}
.hotels ul {
  list-style: none;
}

.hotel-name a {
  color: var(--basic-black);
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: var(--basic-blue);
}

.hotel-name a:active {
  color: var(--basic-activ-text);
}

/* hotels-filter*/

.hotel-filter {
  background-color: var(--basic-blue);
  background-image: url("../img/background2.jpg");
  color: var(--basic-white);
  display: flex;
  padding-left: 6%;
  padding-right: 6%;
  align-items: center;
  justify-content: space-between;
}

.hotel-type {
  flex-grow: 1;
}

.hotel-img {
  width: 135px;
  height: 90px;
  margin: 0;
  padding: 0;
}

.hotel-filter ul {
  list-style: none;
}

.check-section,
.hotel-filter fieldset {
  padding: 0;
  margin: 0;
}

.hotel-filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
}

.hotel-filter input,
.filter-results input {
  background-color: transparent;
  border: none;
}

.hotel-filter .filter-button {
  background-color: transparent;
  text-transform: uppercase;
}

.filter-results-row {
  display: flex;
  margin-right: 6%;
  margin-left: 6%;
  align-items: center;
 }

.filter-results {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.filter-results input {
  font-weight: bold;
}

.sort-container {
  display: flex;
  flex-grow: 1;
}

.hotels-sort {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  list-style: none;
  align-items: center;
}

.rows {
  display: flex;
  align-items: center;
  text-align: right;
}

.hotels ul {
  padding: 0;
  margin: 0;
}

.hotels li {
  display: flex;
  height: 150px;
  align-items: center;
  margin-left: 6%;
  margin-right: 6%;
}

.hotel-section{
  padding: 0;
  margin: 0;
}

.hotel-info {
  margin-bottom: 30px;
  margin-left: 29px;
}

.hotel-section .rating {
  flex-grow: 1;
  text-align: right;
}

.hotels-sort a:hover,
.hotels-sort a:focus {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
}

.hotels-sort a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.hotels-sort a {
  color: var(--basic-activ-text);
  border-bottom: 1px dashed var(--basic-blue);
}

.hotels-sort-current a {
  color: var(--basic-blue);
  border-bottom: none;
 }

.row-button {
  margin: 0 6px;
  display: block;
  width: 10px;
  height: 11px;
  background-color: var(--basic-row);
}

/* main-footer*/

.footer-container {
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-footer);
}

.footer-contacts {
  margin-bottom: 36px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  }

.col-1-3 {
  width: 33.33334%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer-contacts p {
  margin-top: 23px;
  margin-bottom: 9px;
}

.footer-contacts a {
  color: var(--basic-black);
}

.social {
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 36px 0;
  list-style: none;
}

.social-button {
  margin: 0 3px;
  display: block;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.social-button.fb {
 background-image: url("../img/fb-icon.svg");
 background-position: 50% 50%;
 background-repeat: no-repeat;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-extra-blue);
}

.social-button:active {
  background-color: var(--basic-dark-blue);
 }

.footer-copyright {
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
  margin: auto;
 }

.footer-copyright a {
  color: var(--basic-black);
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--basic-blue);
}

.footer-copyright a:active {
  color: var(--basic-active-text);
}
