/* Variables */

:root {
  --basic-text: #333333;
  --basic-active-button: rgba(255, 255, 255, 0.3);
  --basic-activ-text: rgba(0, 0, 0, 0.3);
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-extra-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-blue: #81B3D2;
  --basic-extra-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-extra-white: #F2F2F2;
  --basic-white: #FFFFFF;
}
 /* Global */

 body{
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: var(--basic-text);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* main-navigation */

 .main-navigation{
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
 }

 .main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-activ-text);
}

.site-navigation-current a {
  color: var(--basic-brown);
}
/*features*/

.features-list,
.features-comments {
  list-style: none;
}

.main-features,
.features {
  text-align: center;
}

.main-features-logo {
  background-color: var(--basic-blue);
}

.main-features h1{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.features h2{
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}

.features-item h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.features-item p {
  font-style: normal;
  font-weight: normal;
}

.feature-item-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

/* chekin-form */

.checkin-form h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-black);
}

.checkin-form {
  text-align: center;
}

.checkin-form-text {
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
}

.checkin-form-text input{
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.checkin-form-text input:hover {
  border-color: var(--basic-white)
}

.checkin-form-text input:focus {
  border-color: var(--basic-extra-white)
}

.checkin-form-text input:active {
  border-color: var(--basic-white);
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
}
/* buttons */

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  }

.small-button {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button-brown {
  background-color: var(--basic-brown);
  border: inherit;
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--basic-extra-brown);
  border: inherit;
}

.button-brown:active {
  background-color: var(--basic-dark-brown);
  color: var(--basic-active-button);
  border: inherit;
}

.button-blue {
  background-color: var(--basic-blue);
  border: inherit;
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--basic-extra-blue);
  border: inherit;
}

.button-blue:active {
  background-color: var(--basic-dark-blue);
  color: var(--basic-active-button);
  border: inherit;
}

/* HOTELS.HTML */

.hotel-name {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.hotels p {
  font-style: normal;
  font-weight: normal;
}

.hotel-name a {
  color: var(--basic-black);
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: var(--basic-blue);
}

.hotel-name a:active {
  color: var(--basic-activ-text);
}


/* main-footer*/

.footer-contacts {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-contacts a {
  color: var(--basic-black);
}

.social {
  list-style: none;
}

.social-button {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-extra-blue);
}

.social-button:active {
  background-color: var(--basic-dark-blue);
 }

.footer-copyright{
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-copyright a {
  color: var(--basic-black);
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--basic-blue);
}

.footer-copyright a:active {
  color: var(--basic-active-text);
}
